/* Reset Page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* Pré Loading */
.pre-carregamento {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dbf0e1;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.efeito-carregamento {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    animation: efeitos 2s infinite;
}

@keyframes efeitos {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 1000%;
    }
}

.row {
    margin: 0;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dbf0e1;
    padding: 0;
    border-bottom: 2px solid #ffc05f;
    z-index: 1000;
    height: 15vh;
}

/* .navbar {
    padding-bottom: 0;
} */

#container-img {
    height: 15vh;
}

#nav-logo {
    height: 13vh;
    width: 15vh;
}

#container-img-search-link {
    flex-wrap: nowrap;
    margin: 0%;
    padding: 0%;

    width: 100%;
}

/* Search */
#search-container {
    display: inline-block;
    flex-wrap: nowrap;
    width: 40vw;
    justify-content: space-around;
    background-color: #fff;
    margin: 0 20px;
    padding: 1vh;
    border-radius: 10px;
}
#search-container input {
    flex-wrap: nowrap;
    border: none;
}

.nav-link {
    font-family: "Pangolin", cursive;
}

#btnToogle {
    margin: 0 10px;
}

/* Navigation */
#offcanvasNavbar {
    justify-content: end;
    background-color: #dbf0e1;
    z-index: 10000;
}

#offcanvasNavbar a,
#btnClose {
    padding: 0;
    font-size: 18px;
    color: black;
    margin: 5px 10px;
    text-decoration: none;
}

#offcanvasNavbar a:hover,
#btnClose:hover {
    color: #ffc05f;
}

.carousel .slide {
    width: 50%;
}
#main {
    margin-top: 17vh;
}
#carouselIpet {
    margin-top: 0;
}

#Category {
    background-color: #dbf0e1;
    border: none;
}

#Category:focus {
    background-color: #ffc05f;
}

#input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: max-content;
    border: 2px solid #ffc05f;
    background-color: #fff;
    border-radius: 4px;
}

#orderBy {
    color: black;
    background-color: #ffc05f;
}

/* Body */
body {
    min-height: 100%;
    padding-bottom: 100px;
    position: relative;
}

.name-loja {
    display: flex;
    gap: 1rem;
}
.name-loja p {
    font-size: 2rem;
}
.stars {
    display: flex;
    gap: 2px;
}

.stars-img {
    width: 2rem;
}

.data-user-product {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    border-radius: 8px;
    background-color: #f2f2f2;
}
.data-user-product h1 {
    color: #000;
    margin-bottom: 1rem;
    text-align: center;
}

#Avaliation-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#avaliacao {
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.container-title-loja {
    text-align: center;
    margin-bottom: 0.5rem;
    padding-top: 3rem;
}

.product-card {
    height: 350px;
    width: 250px;
}

#products-container {
    padding-top: 5rem;
}
#products-container h2 {
    margin-bottom: 10px;
}

#products-container .subtitle {
    color: grey;
    margin-bottom: 1rem;
}

#cards-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#cards-container .card {
    border: 2px solid #dbf0e1;
    outline: 5px solid #ffffff;
}

#products-container .card {
    flex: 1 1 24%;
    max-width: 15%;
    border-radius: 10px solid #dbf0e1;
    padding: 0;
    cursor: pointer;
    margin: 1rem;
}

#products-container .card:hover {
    outline: 5px solid #ffc05f;
    zoom: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
}

#products-container img {
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #000000;
}
.card-title-loja{
    text-align: center;
}
.card .card-title {
    color: #212121;
    font-size: 1rem;
    font-weight: bold;
    
}

.card-distance p{
    font-size: 5rem;
    color: #757575;
}

.reveal {
    position: relative;
    margin-top: 80px;
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    margin-top: 0;
    opacity: 1;
}

footer {
    text-align: center;
    background-color: #ffc05f;
    color: black;
    width: 100%;
    padding: 10px;
    position: absolute;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content h3 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.contacts ul {
    justify-content: center;
    align-items: center;
}

.contacts {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 1rem 0 3rem 0;
}

.contacts li {
    margin: 0 10px;
}

.contacts a {
    text-decoration: none;
    color: #000;
}

.contacts a i {
    font-size: 2rem;
    transition: color 0.4s ease;
}

.contacts a:hover i {
    color: #dbf0e1;
}

.img-footer {
    width: 2rem;
    height: 2rem;
}

/*Products*/

#maps {
    background-color: #dbf0e1;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    font-size: 1.2rem;
    border: none;
}
/* Create*/

.card-body .btn-primary {
    background-color: #ffc05f;
    border-color: #ffc05f;
    font-size: 0.6rem;
    font-weight: bold;
    color: #000000;
}

.card-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

/* msg */
.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}



.product-Description {
    margin-bottom: 0;
}

.btnClose {
    background: none;
    border: none;
    font-size: 14px;
    color: grey;
    padding: 7px;
}

.btnClose:hover {
    color: #00c2cb;
}

.img-preview {
    width: 100px;
}

.container-header {
    align-items: center;
}

/* sessão de escolhas loja / usuario */

#row_change {
    /* padding-top: 15rem !important; */
    padding-bottom: 6.5rem !important;
}

#title_change {
    padding-left: 5rem;
    padding-bottom: 1rem;
    color: #f29200;
}

#container-cards-change {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* card loja */

#card_store {
    width: 20rem;
    height: max-content;
    background-color: #dbf0e1;
    cursor: pointer;
    border: solid 4px #ffffff;
    transition-duration: 0.2s;
}

#card_store:hover {
    border: solid 2px #ee5253;
    color: #ee5253;
}

#card_store span {
    font-size: 9vw;
}

/* card cliente */

#card_user {
    width: 15vw;
    height: max-content;
    background-color: #dbf0e1;
    border-radius: 5rem;

    cursor: pointer;
    transition: border 0.4s linear;
    transition: color 0.4s linear;
}

#icon_user {
    font-size: 10rem;
}

#title_user {
    margin-top: 2rem;
    padding-bottom: 10rem;
}

/* transições - tela de escolhas usuario e loja */

#card_user:hover {
    border: 4px solid #ee5253;
    color: #ee5253;
}

#card_store:hover {
    border: 4px solid #ee5253;
    color: #ee5253;
}

@media screen and (max-width: 1080px) {
    #products-container .card {
        flex: 1 1 50%;
        max-width: 25%;
        margin-top: 10px;
    }

    .content-payment {
        display: flex;
        flex-direction: column !important;
        /* padding-top: 8rem !important; */
        align-items: center;
    }
    .card-premium {
        margin-top: 2rem !important;
        margin-bottom: 2rem;
    }

    .data-user-product{
        width: 90%;
    }
}

/* DISPOSIVOS MÓVEIS - CELULARES */
@media screen and (max-width: 480px) {
    #nav-logo {
        min-width: 10vh;
        min-height: 10vh;
    }
    #search-container {
        max-width: 40%;
    }
    #search-container input {
        width: 50%;
    }
    .Category-container {
        display: none;
    }

    #products-container .card {
        flex: 1 100%;
        max-width: 100%;
        margin-top: 10px;
    }

    .card-dados input {
        width: 60% !important;
    }

    .confirmation {
        margin-bottom: 1rem !important;
    }

    .card-premium {
        margin-top: 1rem !important;
    }

    .payment-dados {
        margin: 1rem;
    }

    .confirmation button {
        width: 70% !important;
    }

    .confirmation-pix button {
        width: 100% !important;
        font-size: 13px;
        margin: 0.8rem;
    }
    /* #dados-dashboard{
        margin: 1rem;
    } */

}

@media screen and (min-width: 481px) and (max-width: 750px) {
    header {
        height: min-content;
    }
    #main {
        margin-top: 22vh;
    }
    .container-header {
        align-items: baseline !important;
    }

    #products-container .card {
        flex: 1 50%;
        max-width: 50%;
        margin-top: 10px;
    }

    .card-dados input {
        width: 60% !important;
    }

    .confirmation {
        margin-bottom: 1rem !important;
    }

    .card-premium {
        margin-top: 1rem !important;
    }

    .payment-dados {
        margin: 1rem;
    }

    #container-premium {
        padding-top: 1rem;
    }

    
    #container-premium {
        padding-top: 1.5rem;
    }

    #info-container {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        text-align: center;
        align-items: center;
    }

    .data-user-product{
        width: 90%;
    }
}

/* dashboard - tela do usuario da loja */

#data-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    width: 80%;
    border-radius: 8px;
    background-color: #f2f2f2;
}

#data-user-container h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

#data-user-container p {
    margin: 0.3rem;
}
.text-endereco {
    color: #ffc05f;
    font-weight: bold;
}
.dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 15rem;
}


.btn-dasboard {
    width: 13rem;
    margin: 0.7rem;
    background-color: #ffc05f;
    font-size: 1rem;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
}

.btn-dasboard a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    width: 100%;
}
.btn-dasboard:focus {
    background-color: #dbf0e1;
}
/* adicionar produtos - tela adm */

.dashboard-title-container {
    display: none;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-endereco {
    display: flex;
    flex-direction: column;
}

/*tabelas categorias / produtos */

#table-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#table-container h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #ffc05f;
}

.table {
    text-align: center;
    justify-content: center;
    background-color: #f2f2f2;
    font-size: 1rem;
}

.table tr td {
    padding: 1rem;
    text-decoration: none;
}

.table tr th {
    padding: 1rem;
    color: #ffc05f;
}

.button-products {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-products a {
    width: 10vw;
    text-decoration: none;
}

.button-products button {
    width: 10vw;
}

.button-products span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-categories {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: #4caf50;
    color: #ffff;
    font-size: 1rem;
    border-radius: 6px;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
}

.add-categories:hover {
    border: 2px solid #4caf50;
    background-color: #fff;
    color: black;
}

/* produtos */

#title-products {
    margin-top: 10px;
}

#table-produts tr td a {
    text-decoration: none;
}

#table-produts {
    width: 80%;
    text-align: center;
    justify-content: center;
    background-color: #f2f2f2;
    font-size: 1rem;
}

/* cadastro loja */

#container-register {
    width: 100%;
    height: 100%;
}

#header_form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#h1_register {
    font-size: 2rem;
    color: #f29200;
}

#icon_register {
    font-size: 5rem;
}

#addres {
    background-color: #f2f2f2;
    border-radius: 1rem;
}

.form-label {
    font-size: 1rem;
}

.form-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 25vw;
    border: none;
}

.form-control i {
    font-size: 1rem;
    color: #ffc05f;
}

.form-control input {
    border: none;
    width: 10vw;
}
.form-control input:focus {
    outline: none;
}

#btnCadastro {
    width: 80%;
    align-self: center;
}
/* escolhe de pacote gratuito/premium */

#nav-free {
    width: 12vw;
}

#nav-premium {
    width: 12vw;
}

.nav-p {
    color: #000000;
    font-weight: bold;
}

#card_pacote {
    width: 20rem;
    height: max-content;
    background-color: #dbf0e1;
    cursor: pointer;
    transition-duration: 0.2s;
    border: solid 2px #ffffff;
}

#card_pacote:hover {
    border: solid 2px #d40f0f;
    color: #d40f0f;
}

#card_pacote_premiun {
    width: 20rem;
    height: max-content;
    background-color: #dbf0e1;
    cursor: pointer;
    transition-duration: 0.2s;
    border: solid 2px #ffffff;
}

#card_pacote_premiun:hover {
    border: solid 2px #45f170;
    color: #1db844;
}

#event-create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 2rem;
}

#event-create-container h1 {
    color: #f29200;
    font-weight: bold;
    text-align: justify;
}

#event-create-container form {
    width:50%;
    padding: 1rem;
    gap: 2rem;
}

#event-create-container form div {
    margin-bottom: 2rem;
}

#event-create-container form div label {
    color: #f29200;
    font-size: 20px;
    margin-bottom: 10px;
}

#category {
    width: 30%;
    border-radius: 1rem;
    color: black;
    background-color: #ffc05f;
    border: none;
    font-weight: bold;
    text-align: center;
}

#category label {
    color: rebeccapurple;
    font-weight: bold;
}

#image {
    color: #ffc05f;
}

#imagem-preview {
    width: 85vh;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 15px;
    margin-bottom: 1rem;
}

/*Payment*/
.content-payment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.icon-card {
    color: #ffc05f;
}
.title-payment {
    color: #ffc05f;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.container-option {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.container-option i {
    font-size: 2rem;
    color: #000;
}
.container-option p {
    font-size: 1.5rem;
}

.payment-dados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-dados {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 1rem;
}
.card-dados input {
    width: 50%;
    border: none;
    border-bottom: 4px solid #dbf0e1;
}
.card-dados input:focus {
    outline: none;
}
.card-dados label {
    font-size: 1.2rem;
}
.card-dados-validity {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 2rem;
}
.card-dados-validity input {
    width: 70%;
    border: none;
    border-bottom: 4px solid #dbf0e1;
}
.card-dados-validity input:focus {
    outline: none;
    text-decoration: none;
}
.card-dados-validity label {
    font-size: 1.2rem;
}
.card-dados-cvv {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}
.card-dados-cvv input {
    width: 25%;
    border: none;
    border-bottom: 4px solid #dbf0e1;
}
.card-dados-cvv input:focus {
    outline: none;
}
.form-card {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
.card-premium {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    align-items: center;
}
.img-premium {
    width: 50%;
}
.confirmation {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.confirmation button {
    width: 40%;
    color: white;
    background-color: #1db844;
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
}

.pix-dados {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.pix-recebedor h2 {
    font-size: 1.2rem;
}
.pix-recebedor p {
    font-size: 1rem;
    border-bottom: 4px solid #dbf0e1;
    text-align: center;
    width: 55%;
}
.pix-codigo {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
#qrcode {
    font-size: 12rem;
}
.pix-codigo p {
    font-size: 1rem;
    font-weight: bold;
}

/* tela "ver mais" */

#show-main {
    display: flex;
    flex-direction: column;

}

#products-information {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}

#products-information h1{
    text-align: center ;
    font-size: 2rem;
}


#image-container,
#info-container {
    width: 40rem;
}

#image-container img {

    border-radius: 10px;
}

#info-container h1 {
    font-size: 1.5rem;
}

#info-container p {
    display: flex;
}

#info-container h3,
#description-container h3,
#Specifications-container h3 {
    font-size: 18px;
    font-weight: bold;
    color: #ffc05f;
}

#description-container {
    margin-bottom: 1rem;
}

#info-container i {
    font-size: 20px;
    color: #00c2cb;
    margin-right: 5px;
}

#info-container a {
    color: #00c2cb;
}