/* Reset Page*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}


/* Pré Loading */
.pre-carregamento {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #DBF0E1;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.efeito-carregamento {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    animation: efeitos 2s infinite;
}

@keyframes efeitos {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 1000%;
    }
}

.row {
    margin: 0;
}



/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #DBF0E1;
    margin-bottom: 30px;
}

.navbar {
    padding-bottom: 0;
}

.navbar-expand-lg{
    display: flex;
    justify-content: space-around;
    width: 100%;

}
#btnToogle {
    margin-right: 50px;
}


/* Navigation */
#navbarNav {
    justify-content: end;
    background-color: #DBF0E1;
    z-index: 1000;
}

.navbar-collapse {
    flex-grow: 0;
}

#navbarNav a,
#btnClose {
    padding: 0;
    font-size: 20px;
    color: black;
    margin: 5px 10px;
    text-decoration: underline;
}

#navbarNav a:hover,
#btnClose:hover {
    color: #FFC05F;
}

#nav-logo {
    width: 9vw;
}

.form-control{
    width:50vw;
    border: 2px solid #FFC05F
}
.carousel .slide{
    width:50%;
}
.carousel-caption1 {
    color: #000;
    align-items: center;
    text-align: center;
    height: max-content;
    width: 100%;
    padding-top: 10px;
    z-index: 10;
    background-color: #DBF0E1;
    border-bottom: 2px solid #FFC05F ;
}

#Category{
    color: black;
    background-color: #FFC05F;

}
#orderBy{
    color: black;
    background-color: #FFC05F;
}

#carouselIpet{
    margin-top: 0;
    padding: 0px 220px;
}

/* Body */
body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}



/* Search */
#search-container {
    background-size: cover;
    background-position: center;
    height: 200px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    margin-bottom: 30px;
    font-weight: 20px;
}

#search-container form input {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #FFC05F;
}

.product-card {
   height: 350px;
   width: 250px;
}

#products-container {
    padding: 50px;
}

#products-container h2 {
    margin-bottom: 10px;
}

#products-container .subtitle {
    color: grey;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
    
}


#products-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px solid #DBF0E1 ;
    padding: 0;
    margin: 0.5%;
}

#products-container img {
    max-height: 15vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #000000;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}

.card-distance {
    font-size: 14px;
    color: #757575;
}

.card-value {
    font-size: 18px;
    color: #757575;
}

footer {
    text-align: center;
    background-color: #FFC05F;
    color: black;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img-footer{
    width: 1,5vw;
    height: 3vh;
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* Create*/
.card-body .btn-primary {
    background-color: #FFC05F;
    border-color: #FFC05F;
    font-size: 18px;
    color: #000000;
}

#event-create-container {
    padding: 30px;
}

#event-create-container .btn-primary {
    margin-top: 10px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

/* msg */
.msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3,
#Specifications-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container i {
    font-size: 20px;
    color: #00c2cb;
    margin-right: 5px;
}

#info-container a {
    color: #00c2cb;
}

a img {
    height: 30px;
    width: 30px;
}

.btnClose {
    background: none;
    border: none;
    font-size: 14px;
    color: grey;
    padding: 7px;
}

.btnClose:hover {
    color: #00c2cb;
}

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-products-container th {
    width: 25%;
}

.dashboard-products-container form {
    display: inline-block;
}

.img-preview {
    width: 100px;
}

.img-fluid {
    width: 600px;
}


/* sessão de escolhas loja / usuario */



/* cadastro loja */


#container-register{
    width: 50vw;
    height: 50vh;
}

#header_form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#h1_register{
    font-size: 2rem;
    color: #F29200;
}


#icon_register{
    font-size: 10rem;
}

#nav-free{
    width: 15vw;
}
#nav-premium{
    width: 15vw;
}

@media screen and (max-width:760px){
    .card-body .btn-primary {
        font-size: 12px;
    }

    .card .card-title {
        font-size: 12px;
    }
    
}